{namespace vh=In2code\Powermail\ViewHelpers}
<f:spaceless>
    <f:variable name="messages">
        <f:alias map="{flashMessageClass:'powermail_message_error'}">
            <f:render partial="Misc/FlashMessages" arguments="{_all}" />
        </f:alias>
    </f:variable>
    <f:variable name="errors">
        <f:render partial="Misc/FormError" arguments="{_all}" />
    </f:variable>

    <f:format.raw>
        <f:format.json value="{
            messages: '{messages -> f:spaceless()}',
            errors: '{errors -> f:spaceless()}',
            form: {
                action: action,
                section: 'c{ttContentData.uid}',
                additionalAttributes: '{vh:validation.enableJavascriptValidationAndAjax(form:form)}',
                addQueryString: settings.misc.addQueryString,
                css: form.css,
                formUid: form.uid,
                showTitle: form.showTitle,
                formClasses: '{settings.styles.framework.formClasses}',
                moreSteps: '{vh:misc.morestepClass(activate:settings.main.moresteps)}',
                title: form.title,
                fields: '{f:render(partial: \'Form/Pages\', arguments: \'{_all}\') -> headless:format.json.decode() -> headlesspowermail:form(action:action, name:\'field\', formUid:form.uid) -> headless:format.json.decode()}'
            }
        }"/>
    </f:format.raw>
</f:spaceless>
