{namespace vh=In2code\Powermail\ViewHelpers}
<f:spaceless>
    <headlesspowermail:form.registerField property="{field.marker}"
                            value="{setting.value}"
                            checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:index.cycle)}"/>
    <f:format.raw>
        <f:format.json value="{
                field: {
                    label: '{f:render(partial: \'Form/FieldLabel\', arguments: \'{_all}\') -> headless:format.json.decode()}',
                    marker: field.marker,
                    name: '{headlesspowermail:form.generateName(property:\'{field.marker}\')}',
                    css: field.css,
                    fieldWrappingClasses: settings.styles.framework.fieldWrappingClasses,
                    fieldAndLabelWrappingClasses: settings.styles.framework.fieldAndLabelWrappingClasses,
                    validationClass: '{vh:validation.errorClass(field:field, class:\'powermail_field_error\')}',
                    additionalAttributes: '{vh:validation.validationDataAttribute(field:field)}',
                    type: 'select',
                    client: settings.validation.client,
                    options: '{f:render(section:\'select\',arguments:\'{_all}\') -> headless:format.json.decode()}'
                }
            }"/>
    </f:format.raw>
</f:spaceless>
<f:section name="select">
    <headlesspowermail:form.selectField
        options="{headlesspowermail:form.countries(key:'isoCodeA3',value:'officialNameLocal',sortbyField:'isoCodeA3',sorting:'asc')}"
        property="{field.marker}"
        class="powermail_select {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
        id="powermail_field_{field.marker}"
        additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
        multiple="{field.multiselectForField}"
        value="{vh:misc.prefillField(field:field, mail:mail)}" />
</f:section>
