{namespace vh=In2code\Powermail\ViewHelpers}
<f:spaceless>
    <f:variable name="fieldMarker" value="{field.marker}{f:if(condition:field.multiselect,then:'.')}" />
    <headlesspowermail:form.registerField property="{fieldMarker}"
                            value="{setting.value}"
                            checked="{vh:misc.prefillMultiField(field:field, mail:mail, cycle:iteration.cycle)}"/>
    <f:format.raw>
        <f:format.json value="{
                field: {
                    label: '{f:render(partial: \'Form/FieldLabel\', arguments: \'{_all}\') -> headless:format.json.decode()}',
                    marker: field.marker,
                    name: '{headlesspowermail:form.generateName(property:fieldMarker)}',
                    css: field.css,
                    fieldWrappingClasses: settings.styles.framework.fieldWrappingClasses,
                    fieldAndLabelWrappingClasses: settings.styles.framework.fieldAndLabelWrappingClasses,
                    validationClass: '{vh:validation.errorClass(field:field, class:\'powermail_field_error\')}',
                    additionalAttributes: '{vh:validation.validationDataAttribute(field:field)}',
                    multiple: field.multiselectForField,
                    multiselect: field.multiselect,
                    type: 'select',
                    client: settings.validation.client,
                    options: '{f:render(section:\'select\',arguments:\'{_all}\') -> headless:format.json.decode()}'
                }
            }"/>
    </f:format.raw>
</f:spaceless>
<f:section name="select">
    <headlesspowermail:form.selectField
        options="{field.modifiedSettings}"
        property="{field.marker}"
        class="powermail_select {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
        id="powermail_field_{field.marker}"
        additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
        multiple="{field.multiselectForField}"
        value="{vh:misc.prefillField(field:field, mail:mail)}" />
</f:section>
