<f:spaceless>
    <f:format.raw>
        <f:format.json value="{
            field: {
                marker: field.marker,
                title: field.title,
                css: field.css,
                type: 'submit',
                fieldAndLabelWrappingClasses: settings.styles.framework.fieldAndLabelWrappingClasses,
                fieldWrappingClasses: settings.styles.framework.fieldWrappingClasses,
                offsetClasses: settings.styles.framework.offsetClasses,
                submitClasses: settings.styles.framework.submitClasses
            }
        }"/>
    </f:format.raw>
</f:spaceless>
