<f:spaceless>
    <hlpowermail:form.registerField property="{field.marker}"/>
    <f:format.raw>
        <f:format.json value="{
            field: {
                type: 'text',
                marker: field.marker,
                css: field.css,
                fieldAndLabelWrappingClasses: settings.styles.framework.fieldAndLabelWrappingClasses,
                fieldWrappingClasses: settings.styles.framework.fieldWrappingClasses,
                offsetClasses: settings.styles.framework.offsetClasses,
                text: field.text,
                name: '{hlpowermail:form.generateName(property:\'{field.marker}.\')}'
            }
        }"/>
    </f:format.raw>
</f:spaceless>
